version: '3.8'

services:
  neo4j:
    image: neo4j:5.3.0-enterprise
    restart: unless-stopped
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/test
      # Raise memory limits
      - NEO4J_server_memory_pagecache_size=1G
      - NEO4J_server.memory.heap.initial_size=1G
      - NEO4J_server_memory_heap_max__size=1G
      - NEO4J_PLUGINS=["apoc"]
    healthcheck:
      test: wget http://localhost:7474 || exit 1
      interval: 1s
      timeout: 10s
      retries: 20
      start_period: 40s

  busybox:
    image: 'busybox:stable'
    depends_on:
      neo4j:
        condition: service_healthy
